body {
  background: linear-gradient(135deg, #00c0ff 0%, #ffbf00 100%);
  background-repeat: no-repeat;
  height: 100%;
  min-height: 900px;
  background-position: top center;
  position: relative;
  overflow-x: hidden;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
}

.container {
  position: sticky;
  top: 10rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 37rem;
  grid-gap: 30px;
}

.left {
  background-color: rgb(250, 250, 251);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.left .avatar {
  background-size: cover;
  width: 40%;
  border-radius: 50%;
  position: absolute;
  top: 2rem;
}

.left h2 {
  position: absolute;
  top: 11rem;
  color: rgb(53, 68, 89);
}

.left h2 span {
  font-weight: 100;
}

.left p {
  position: absolute;
  top: 13.8rem;
  background-color: rgb(236, 236, 244);
  padding: 10px 16px;
  border-radius: 20px;
  color: rgb(76, 90, 109);
  text-transform: capitalize;
}

.social-links {
  position: absolute;
  top: 17.5rem;
}

.social-links img {
  width: 26px;
}

.social-links a {
  padding: 0 8px;
}

.twitter {
  /* I used https://codepen.io/sosuke/pen/Pjoqqp to figure out this. Hex: 1da1f2 */
  filter: invert(51%) sepia(14%) saturate(5044%) hue-rotate(176deg) brightness(100%) contrast(90%);
}

.mixer {
  /* Hex: 00BBF1 */
  filter: invert(65%) sepia(71%) saturate(7141%) hue-rotate(168deg) brightness(105%) contrast(101%);
}

.github {
  /* Hex: 232121 */
  filter: invert(7%) sepia(4%) saturate(725%) hue-rotate(314deg) brightness(95%) contrast(86%);
}

a {
  text-decoration: none;
}

.right {
  background-color: rgb(247, 249, 250);
border-radius: 1rem;
}